.f-width {
    width: 100%;
}

.inline-block{
  display: inline-block;
}

.nopadding {
    padding: 0;
}

.hide{
  display: none;
}

.btn-primary {
    background: $primary-base;
    color: $white;
    border: 0;
    transition: all ease-in-out 200ms;
    &:hover {
        background: rgba($white, .8);
        color: $primary-base !important;
    }
}

.btn-default {
    background: $white;
    color: $primary-base;
    border: 0;
    transition: all ease-in-out 200ms;
    &:hover {
        background: rgba($primary-base, .8);
        color: $white !important;
    }
}

.icon-btn{
  border: 0;
  background: transparent;
}

body {
    font-family: 'Cairo';
    font-size: rem(14);
    line-height: 1.6;
    overflow-x: hidden;
    background: #122550;
}

.vertical-nav{
    position: absolute;
    top: 50%;
    right: 8%;
    li{
        &.active{
            a{
                .number{
                    display: block;
                    color: #ffffff;
                    font-size: 30px;
                    font-weight: bold;
                    position: relative;
                    right: -10px;
                }
                .word{
                    position: relative;
                    right: -72px;
                    color: #dddddd;
                }
                .dot{
                    width: 10px;
                    height: 10px;
                    background: #dddddd;
                    right: -2px;
                }
                .linev{
                    height: 50px;
                    width: 2px;
                    background: #dddddd;
                    display: block;
                    margin: 5px 1px;
                }
                &:hover, &:focus{
                    text-decoration: none;
                }
            }
        }
        a{
            .dot{
                width: 8px;
                height: 8px;
                border-radius: 100%;
                background: gray;
                display: inline-block;
                position: relative;
                right: -4px;
            }
        }
    }
}